<!DOCTYPE html>
<html lang="en">

  <head>
    <script>
      if (window.location.host.indexOf('bewisebookkeeping.com') > -1 &&
           window.location.protocol.indexOf('https:') == -1 )
      {
        window.location.protocol = 'https';
      }
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Be Wise Bookkeeping</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <!-- <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">
    <link rel="icon" type="image/ico" href="img/favicon.ico">
  </head>

  <body id="page-top">
    <div id="app">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <div>Be Wise</div>
            <div>
              <div>B</div>
              <img id="grey" src="img/be-wise-logo-grey.png">
              <img id="white" src="img/be-wise-logo-white.png">
              <img id="blue" src="img/be-wise-logo.png">
              <div>kkeeping</div>
            </div>
          </a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <header class="masthead">
        <div class="header-content">
          <div class="header-content-inner">
            <h1 id="homeHeading" v-cloak>
              {{ heading }}
            </h1>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </header>

      <section class="bg-primary" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 mx-auto text-center">
              <h1 class="section-heading text-white" v-cloak>{{ aboutHeader}}</h1>

              <p class="text-faded about-text" v-cloak>
                {{ about }}
              </p>

              <hr class="light"/>
              <h2 class="section-heading text-white">Partnerships</h2>
              <div class="col-lg-12 mx-auto text-center">
                <div class="row partner">
                  <div class="col-lg-6 mx-auto text-center">

                    <div>
                      <a href="https://www.xero.com/us/">
                        <img src="img/xero-logo.png" alt="xero logo" class="xero" target="_blank"/>
                      </a>
                    </div>
                    <h3 class="section-heading text-white">Xero Partner</h2>
                    <p class="text-faded">
                      Cloud based small business accounting software with all the time-saving tools you need to grow your business.
                    </p>
                  </div>
                  <div class="col-lg-6 mx-auto text-center">
                    <div>
                      <a href="https://quickbooks.intuit.com/" target="_blank">
                        <img src="img/qb.png" alt="Quickbooks logo"/>
                      </a>
                    </div>
                    <h3 class="section-heading text-white">Quickbooks ProAdvisor</h2>
                    <p class="text-faded">
                      The #1 rated small business accounting software.
                    </p>
                  </div>
                </div>
              </div>


              <span id="industry-experience">
                <hr class="light">
                <h2 class="section-heading text-white">Industry Experience</h2>

                <p class="text-faded description">
                  Janet has over 30 years of experience serving clients in many industries
                  <div class="container">
                    <div class="row" id="industries" v-cloak>
                      <div class="col-lg-3 col-sm-4 col-6 text-center" v-for="industry in industries">
                        <div class="service-box">
                          <i class="fa fa-2x text-faded sr-icons" :class="'fa-' + industry.fields.fontAwesomeIcon"></i>
                          <p class="text-faded">{{ industry.fields.title }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </p>
              </span>

              <span id="fix-mess">
                <hr class="light">
                <h2 class="section-heading text-white fix-mess"></h2>

                <p class="text-faded description">
                  Have you gotten behind with your bookkeeping or had a bad experience with your old bookkeeper and need someone to cleanup the mess?  That's one of my specialties.
                </p>
              </span>
              <a class="btn btn-default btn-xl js-scroll-trigger text-primary" href="#services">How Can I Help?</a>
            </div>
          </div>
        </div>
      </section>


      <section id="services" >
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">At Your Service</h2>
              <hr class="primary">
            </div>
          </div>
        </div>
        <div class="container col-lg-8">
          <div class="row" id="service-list">
            <div class="col-lg-4 col-md-4 col-6 text-center" v-for="service in services" v-cloak>
              <div class="service-box text-primary" >
                <i class="fa fa-4x sr-icons" :class="'fa-' + service.fields.fontAwesomeIcon"></i>
                <h4>{{ service.fields.title }}</h4>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <a class="btn btn-primary btn-xl js-scroll-trigger text-white" id="get-in-touch" href="#contact">Get in Touch!</a>
            </div>
          </div>
        </div>
      </section>

      <section id="contact" class="bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white"></h2>
              <hr class="light">
              <p class="text-white" id="contact-blurb"></p>
            </div>
          </div>
          <div class="row" id="contact-methods">
            <div class="col-12 col-sm-4 ml-auto text-center text-white" v-for="contactMethod in contactMethods">
              <i class="fa fa-3x sr-contact" :class="'fa-' + contactMethod.fields.fontAwesomeIcon"></i>
              <p>
                <a :href="contactMethod.fields.htmlReference" :id="contactMethod.fields.title" target="_blank" class="text-white">
                  {{ contactMethod.fields.title }}
                </a>
              </p>
            </div>
          </div>
        </div>
      </section>

    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/vue/vue.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script src="https://unpkg.com/contentful@4.6.2/dist/contentful.min.js"></script>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          heading: '',
          aboutHeader: '',
          about: '',
          industries: [],
          services: [],
          contactMethods: [],
        }
      });

      var client = contentful.createClient({
        accessToken: 'd9d86021651dfc724a80a587849fc837b0481241acff761872317a05156568fe',
        space: 'rb92l2zmtf6j'
      });

      //set header
      client.getEntry('MTidb7OMiAuII0YeiQGI0')
            .then(function(entry) {
              app.heading = entry.fields.value;
            });

      //set about text
      client.getEntry('2m6fnzZFVaa4AEewY4AAik')
            .then(function(entry) {
              app.aboutHeader = entry.fields.title;
              app.about = entry.fields.value;
            });

      //set industry experience
      client.getEntry('3nROxNkm12eoWoGKUiY6eW')
            .then(function(entry) {
              $('#industry-experience h2').html(entry.fields.title);
              $('#industry-experience .description').html(entry.fields.value);
            });

      //populate industries
      client.getEntries({
        content_type: 'industry',
        order: 'fields.order'
      }).then(function(industries) {
        app.industries = industries.items;
      });

      client.getEntry('4vStRJUeMUW80geMyg6mMu')
            .then(function(entry) {
              $('#fix-mess h2').html(entry.fields.title);
              $('#fix-mess .description').html(entry.fields.value);
            });

      client.getEntries({
        content_type: 'service',
        order: 'fields.order'
      }).then(function(services) {
        app.services = services.items;
      });

      client.getEntry('5Wfo68t7zywyymcKwEyKqI')
            .then(function(entry) {
              $('#contact h2').html(entry.fields.title);
              $('#contact-blurb').html(entry.fields.value);
            });

      client.getEntries({
        content_type: 'contactMethod',
        order: 'fields.order'
      }).then(function(contactMethods) {
        app.contactMethods = contactMethods.items;
      });

    </script>
    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
  </body>

</html>