<!DOCTYPE html>
<html lang="en">

  <head>
    <script>
      if (window.location.host.indexOf('bewisebookkeeping.com') > -1 &&
           window.location.protocol.indexOf('https:') == -1 )
      {
        window.location.protocol = 'https';
      }
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Be Wise Bookkeeping</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <!-- <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">
    <link rel="icon" type="image/ico" href="img/favicon.ico">
  </head>

  <body id="page-top">
    <div id="app">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <div>Be Wise</div>
            <div>
              <div>B</div>
              <img id="grey" src="img/be-wise-logo-grey.png">
              <img id="white" src="img/be-wise-logo-white.png">
              <img id="blue" src="img/be-wise-logo.png">
              <div>kkeeping</div>
            </div>
          </a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Heading -->
      <header class="masthead">
        <div class="header-content">
          <div class="header-content-inner">
            <h1 id="homeHeading" v-cloak>
              {{ heading }}
            </h1>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </header>

      <!-- About -->
      <section class="bg-primary" id="about">
        <div class="container" v-cloak>
          <div class="row">
            <div class="col-lg-10 mx-auto text-center">
              <h1 class="section-heading text-white">{{ aboutHeader}}</h1>

              <p class="text-faded about-text">
                {{ about }}
              </p>
            </div>

            <div class="col-lg-12 mx-auto text-center" v-if="partnerships">
              <hr class="light"/>
              <h2 class="section-heading text-white">Partnerships</h2>

              <div class="row partner">
                <div class="col-lg-6 mx-auto text-center" v-for="partnership in partnerships">
                  <a v-bind:href="partnership.fields.url" target="_blank">
                    <img v-bind:src="partnership.fields.logo.fields.file.url" alt="xero logo" class="xero" target="_blank"/>
                  </a>
                  <h3 class="section-heading text-white">{{ partnership.fields.title }}</h3>
                  <p class="text-faded">
                    {{ partnership.fields.description }}
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-10 mx-auto text-center">
              <span id="industry-experience">
                <hr class="light">
                <h2 class="section-heading text-white">{{ experience.heading}} </h2>

                <p class="text-faded description">
                  {{ experience.blurb }}
                  <div class="container">
                    <div class="row" id="industries">
                      <div class="col-lg-3 col-sm-4 col-6 text-center" v-for="industry in experience.industries">
                        <div class="service-box">
                          <i class="fa fa-2x text-faded sr-icons" :class="'fa-' + industry.fields.fontAwesomeIcon"></i>
                          <p class="text-faded">{{ industry.fields.title }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </p>
              </span>

              <span id="fix-mess">
                <hr class="light">
                <h2 class="section-heading text-white fix-mess">{{ fixTheMess.heading }}</h2>

                <p class="text-faded description">
                  {{ fixTheMess.blurb  }}
                </p>
              </span>
              <a class="btn btn-default btn-xl js-scroll-trigger text-primary" href="#services">How Can I Help?</a>
            </div>
          </div>
        </div>
      </section>


      <!-- Services offered -->
      <section id="services" v-cloak>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">At Your Service</h2>
              <hr class="primary">
            </div>
          </div>
        </div>
        <div class="container col-lg-8">
          <div class="row" id="service-list">
            <div class="col-lg-4 col-md-4 col-6 text-center" v-for="service in services">
              <div class="service-box text-primary" >
                <i class="fa fa-4x sr-icons" :class="'fa-' + service.fields.fontAwesomeIcon"></i>
                <h4>{{ service.fields.title }}</h4>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <a class="btn btn-primary btn-xl js-scroll-trigger text-white" id="get-in-touch" href="#contact">Get in Touch!</a>
            </div>
          </div>
        </div>
      </section>

      <!-- Contact Information -->
      <section id="contact" class="bg-primary" v-cloak>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white">{{ contact.heading }}</h2>
              <hr class="light">
              <p class="text-white" id="contact-blurb">{{ contact.blurb }}</p>
            </div>
          </div>
          <div class="row" id="contact-methods">
            <div class="col-12 col-sm-4 ml-auto text-center text-white" v-for="contactMethod in contact.methods">
              <i class="fa fa-3x sr-contact" :class="'fa-' + contactMethod.fields.fontAwesomeIcon"></i>
              <p>
                <a :href="contactMethod.fields.htmlReference" :id="contactMethod.fields.title" target="_blank" class="text-white">
                  {{ contactMethod.fields.title }}
                </a>
              </p>
            </div>
          </div>
        </div>
      </section>

    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/vue/vue.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script src="https://unpkg.com/contentful@4.6.2/dist/contentful.min.js"></script>

    <!-- the vue app for this page -->
    <script src="js/vue-app.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
  </body>

</html>